:root {
  --accent-color: #8ab226;

  --title-color: #212121;

  --text-color: #757575;
  --secondary-text-color: #ececec;

  --mobile-menu-background-color: #8ab226;
  --slider-background-color: #ffffff;

  --primary-background-color: #ffffff;
  --secondary-background-color: #525252;

  --secondary-btn-text-color: #212121;
  --primary-gap: 40px;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html.no-scroll {
  overflow-y: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-background-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
select {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  max-width: 768px;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1600px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.icon {
  display: block;
}

body .accent-text {
  color: var(--accent-color);
}

.section {
  padding-top: 20px;
  scroll-margin-top: 100px;
}

.section-title {
  margin-bottom: 40px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

/*----------- HEADER ---------*/
.header {
  position: fixed;
  padding-top: 12px;
  width: 100%;
  z-index: 3;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--accent-color);
  color: var(--text-color);
}

.menu-open-btn,
.menu-close-btn {
  padding: 0;
  width: 40px;
  height: 60px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-open-btn,
  .menu-close-btn {
    display: none;
  }
}

.menu-btn-icon {
  display: block;
  width: 40px;
  height: 28px;
  fill: var(--text-color);
}
.menu-btn-icon:hover,
.menu-btn-icon:focus {
  fill: var(--accent-color);
}

.header-logo {
  display: block;
  cursor: pointer;
}
.header-logo .icon {
  display: block;
  width: 80px;
  height: 60px;
}

.header-block {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts-link {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.header-contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.header .contacts-icon {
  margin-right: 4px;
  display: block;
  width: 20px;
  height: 20px;
  fill: #8ab226;
}

.nav {
  display: none;
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.header-nav-list {
  display: flex;
}

.header-nav-link {
  display: inline-block;
  text-align: center;
  padding: 4px 8px;
  margin-right: 20px;
  border-radius: 16px;
  color: var(--secondary-text-color);
}
.header-nav-link.current {
  color: var(--text-color);
}

.header-nav-link:not(:last-child) {
  margin-right: 20px;
}
.header-nav-link:hover {
  color: var(--text-color);
}

.mobile-menu {
  position: fixed;
  z-index: 5;
  top: 85px;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--mobile-menu-background-color);
  transform: translateY(-150%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  overflow-x: hidden;
}
.mobile-menu.is-open {
  transform: translateY(0);
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 150px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.header-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .button.header-btn {
    display: flex;
  }
}
.button.header-btn:hover,
.button.header-btn:focus {
  color: var(--text-color);
  /* background: #a5d52d; */
}

.button.mobile-menu-btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-color);
  background: var(--secondary-text-color);
}

.button.mobile-menu-btn:hover,
.button.mobile-menu-btn:focus {
  color: var(--accent-color);
  /* background: #ffffff; */
}

.mobile-menu-nav-item {
  border-top: 1px solid #77a500;
  transform: translateX(100%);
}
.mobile-menu-nav-item:last-child {
  border-bottom: 1px solid #77a500;
  transform: translateX(100%);
}

.mobile-menu-nav-link {
  display: block;
  /* max-width: 768px; */
  width: 100%;
  position: relative;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-link .current {
  color: var(--text-color);
}
.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: var(--text-color);
}
.is-open .mobile-menu-nav-item:nth-child(1) {
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.is-open .mobile-menu-nav-item:nth-child(2) {
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}
.is-open .mobile-menu-nav-item:nth-child(3) {
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.is-open .mobile-menu-nav-item:nth-child(4) {
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.is-open .mobile-menu-nav-item:nth-child(5) {
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
}
/*----------- HERO SECTION ---------*/
.section.hero {
  padding-top: 120px;
}

.swiper {
  min-width: 280px;
  height: 100px;
  margin-bottom: 20px;
}

.swiper-slide {
  width: 50%;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  font-size: 18px;
  background: var(--slider-background-color);

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondary-background-color);
  border-radius: 40px;
  opacity: 0;
}
.swiper-slide-active {
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-pagination-bullet-active {
  width: 40px;
  background: var(--accent-color);
}

/*----------- MODAL ---------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: auto;
  background-color: rgba(160, 200, 20, 0.3);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2) translateY(300px);
}

.modal {
  padding: 20px;
  width: 80%;
  max-width: 400px;
  min-height: 320px;
  background-color: var(--primary-background-color);
  border-radius: 16px;
  position: relative;
  top: 0;
  transform: scale(1) translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(50, 50, 50, 0.7) url("../img/loader.gif") center / 50px
    no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.sending::after {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-height: 600px) {
  .modal {
    top: 50%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    max-width: 600px;
  }
}

.close-btn {
  position: absolute;
  padding: 0;
  right: 8px;
  top: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-icon {
  display: block;
  fill: var(--text-color);
}
.close-btn-icon:hover,
.close-btn-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 12px;
}

.modal-select {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.modal-select[data-state="active"] .modal-select-title::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}
.modal-select[data-state="active"] .modal-select-title::after {
  transform: translate(3px, -50%) rotate(45deg);
}
.modal-select[data-state="active"] .modal-select-content {
  opacity: 1;
}
.modal-select[data-state="active"]
  .modal-select-label
  + .modal-select-input
  + .modal-select-label {
  max-height: 40px;
  border-top-width: 1px;
}

.modal-select-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  height: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.45);
  background: transparent;
  padding-left: 36px;
  padding-right: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal-select-title {
    font-size: 16px;
  }
}
.modal-select-title[data-state="selected"] {
  color: var(--text-color);
}
.modal-select-title::before,
.modal-select-title::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 12px;
  display: block;
  width: 10px;
  height: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--text-color);
  transform: translate(-3px, -50%) rotate(45deg);
}
.modal-select-title::after {
  transform: translate(3px, -50%) rotate(-45deg);
}
.modal-select-title:hover {
  border-color: var(--accent-color);
}
.modal-select-title:hover::before,
.modal-select-title:hover::after {
  background-color: var(--accent-color);
}
.modal-select-content {
  position: absolute;
  top: 32px;
  left: 3px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);
  background-color: var(--primary-background-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 1;
}
/* .modal-select-input {
  display: none;
} */
.modal-select-input:checked + label {
  background-color: #dedede;
}
.modal-select-input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.modal-select-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: var(--text-color);
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .modal-select-label {
    font-size: 16px;
  }
}
.modal-select-label + input + .modal-select-label {
  border-top: 0 solid #c7ccd1 60;
}
.modal-select-label:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.modal-select-address {
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--accent-color);
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
}
@media screen and (min-width: 768px) {
  .modal-select-address {
    font-size: 16px;
  }
}

.modal-form-field + .modal-form-field {
  margin-top: 12px;
}

.modal-form-input-label {
  font-size: 12px;
  line-height: 1.15;
  color: var(--text-color);

  display: block;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  border-radius: 4px;
  color: var(--text-color);
  background: transparent;
  padding-left: 32px;
  padding-right: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-form-input {
    font-size: 16px;
  }
}
.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: rgba(117, 117, 117, 0.45);
}
@media screen and (min-width: 768px) {
  .modal-form-input::placeholder {
    font-size: 16px;
  }
}
.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--text-color);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-text-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  color: var(--text-color);
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-form-text-input {
    font-size: 16px;
  }
}
.modal-form-text-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: rgba(117, 117, 117, 0.45);
}
@media screen and (min-width: 768px) {
  .modal-form-text-input::placeholder {
    font-size: 16px;
  }
}
.modal-form-text-input:focus {
  border-color: var(--accent-color);
}
/* 
.modal-form-check-text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: var(--text-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal-form-check-text {
    font-size: 16px;
  }
}

.modal-form-icon-place {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check-icon {
  fill: var(--primary-background-color);
}
.modal-checkbox-input:checked + .modal-form-icon-place {
  background-color: var(--accent-color);
  border: none;
} */

.modal-form-btn {
  margin: 0 auto;
  margin-top: 12px;
  padding-left: 32px;
  padding-right: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover {
  color: var(--text-color);
}

#to-top {
  position: fixed;
  display: inline-block;
  /* width: 40px;
  height: 40px; */
  bottom: 20px;
  left: 20px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  #to-top {
    bottom: 40px;
    left: 40px;
  }
}

#to-top > img {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  #to-top > img {
    width: 60px;
    height: 60px;
  }
}

#to-top.show {
  opacity: 1;
  visibility: visible;
}
